@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Library.Web.Models.ViewModels.AuthorPageViewModel

@{
    ViewData["Title"] = Model.Title;
    bool isAdmin = User.IsInRole("Admin");
}

<div class="row mb-2">
    <h2>Authors</h2>
</div>
<div class="row mb-2 align-items-center">
    @if (isAdmin)
    {
        <div class="col-12 text-end">
            <a class="btn btn-sm btn-outline-success" asp-controller="Authors" asp-action="Add">Add New</a>
        </div>
    }
</div>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Books</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Author author in Model.Authors)
        {
            <tr>
                <td>@author.Name</td>
                <td>
                    <a class="btn btn-sm btn-primary me-1"
                       asp-controller="Books" asp-action="Index">
                        <span class="bi-book"> Books</span>
                    </a>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary me-1"
                       asp-controller="Authors" asp-action="Update" asp-route-id="@author.Id">
                        <span class="bi-pencil"></span>
                    </a>
                </td>
            </tr> 
        }

        </tbody>
    </table>