@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Library.Web.Models.ViewModels.MembersPageViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="row mb-2">
    <h2>Members</h2>
</div>
<div class="row col-11">
    <form class="row" method="get">
        <div class="col-auto">
            <label class="col-form-label col-form-label-sm" for="name">Name</label>
        </div>
        <div class="col-3">
            <input id="name" name="name" type="text"
                   class="form-control form-control-sm"
                   value="@Model.NameFilter">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-sm btn-outline-primary me-2" asp-action="Index">
                <span class="bi-search"></span>
            </button>
            <button type="submit" class="btn btn-sm btn-outline-secondary me-2" asp-action="Reset">
                <span class="bi-eraser-fill"></span>
            </button>
        </div>
        <div class="col text-end">
            <a class="btn btn-sm btn-outline-success" asp-controller="Members" asp-action="Add">
                <span class="bi-person-add"></span>
            </a>
        </div>
    </form>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone number</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (Member member in Model.Members)
        {
            <tr>
                <td>@member.Name</td>
                <td>@member.PhoneNumber</td>
                <td class="text-end">
                    <a class="btn btn-sm btn-outline-success"
                       asp-controller="Members" asp-action="Get" asp-route-id="@member.Id">
                        <span class="bi-pencil-square"></span>
                    </a>
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>