@model dynamic

@{
    ViewBag.Title = "Access Denied";
    Layout = "_Layout";
}

<h4>You have insufficient privileges to access this page.</h4>

<p>
    <a class="btn btn-info" asp-controller="Home" asp-action="Index">Home</a>
</p>
